<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WpfAppProjekty.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <applicationSettings>
        <WpfAppProjekty.Properties.Settings>
            <setting name="WpfAppProjekty_localhost_WebServiceProjekty" serializeAs="String">
                <value>http://localhost:59349/WebServiceProjekty.asmx</value>
            </setting>
        </WpfAppProjekty.Properties.Settings>
    </applicationSettings>
</configuration>